.jumbotron{
    text-align: center;
    background-color: none;
}

.sectionLight{
    background-color: #eceeef;
    padding: 2rem;
}

.sectionDark{
    background-color: #cccccc;
    padding: 2rem;
}

.wrapper{
    margin-top: 20px;
}

.cool-btn{
    background-color: red;
    color: #ffffff;
    display: block;
    margin: auto;
}

h5.modal-title{
    margin: auto;
}

/*
.modalWrapper{
    padding: 2rem;
}*/
